body{margin:0px; padding:0px;}

	#headerDiv{
	width: auto; 
	height: 110px; 
	background: #6dcde2;
	margin: auto; 
	display: block;
	margin: bottom 5px solid white;
	position: sticky;}

			#logoDiv{
			width: 400px; 
			height: 40px; 
			float: left;
			margin-left: 75px;
			/*text-shadow: 1px 1px 3px #33353a;*/
			margin-top: 25px;
			font-size: 50px;
			color: white;}

			#navContent{
			width: 600px; 
			height: 50px;  
			float: right; 
			display: block;
			margin-right: 90px;}

			#links{
				margin-top: 40px;
				margin-right: 90px;
				}

			ul li .menu{
				font-size: 20px;
			}

		ul{
		list-style-type: none; 
		display: block; 
		float: right;}

		li{
		float: left;}

		li a{
		text-decoration:none; 
		font-family:sans-serif; 
		font-size: 10pt; 
		color: white; 
		position: relative; 
		top: 4px; 
		padding: 15px;  
		transition-duration: 100ms;  
		transition-timing-function: ease;}
		
		a:hover{
		border-bottom: 7px solid #ffffff; 
		border-bottom-width: 100ms;
		transition: border-width: 100ms;}

		#extendNav{
		width: auto;
		height: 40px;
		background: linear-gradient( #1a1a1a, #000000);
		opacity: ;
		border-top: 1px solid white;
		display:block;}

		#fullHeader{
		position: sticky;
		top: 0;
		margin-bottom: 1px solid white;}

	#mainDiv{ 
	width: 100%;
	height:500px;
	display: flex;
	justify-content: center; 
	align-items: center;
	/*background: #9ddacc;*/}

			#portfolio{
			height: 250px;
			width: 200px;
			background-color: rgba(0,0,0,0.2);
			border: 1px solid white;
			transition: all ease .5s;
			box-shadow:  0 0 0 0 rgba(0,0,0,0.2) inset;}

			#portfolio:hover{
			box-shadow: 250px 250px 0 0 rgba(208, 211, 212, 0.5) inset;}

			#resume{
			height: 250px;
			width: 200px;
			background-color: rgba(0,0,0,0.2);
			border: 1px solid white;
			transition: all ease .5s;
			box-shadow:  0 0 0 0 rgba(0,0,0,0.2) inset;}

			#resume:hover{
			box-shadow: 250px 250px 0 0 rgba(208, 211, 212, 0.5) inset;}

			#aboutMe{
			height: 250px;
			width: 200px;
			background-color: rgba(0,0,0,0.2);
			border: 1px solid white;
			transition: all ease .5s;
			box-shadow:  0 0 0 0 rgba(0,0,0,0.2) inset;}

			#aboutMe:hover{
			box-shadow: 250px 250px 0 0 rgba(208, 211, 212, 0.5) inset;}

			#contact{
			height: 250px;
			width: 200px;
			background-color: rgba(0,0,0,0.2);
			border: 1px solid white;
			transition: all ease .5s;
			box-shadow:  0 0 0 0 rgba(0,0,0,0.2) inset;}

			#contact:hover{
			box-shadow: 250px 250px 0 0 rgba(208, 211, 212, 0.5) inset;}
	
#footerDiv{
	 width: auto;
	 height: 400px; 
	 background-color: black; 
	 margin: auto;}

#footer2{
   	width: auto;
   	height: auto;
   	background-color: #18191b;}
