	body {margin: 0px; padding: 0px;}

	#headerDiv{
	width: auto; 
	height: 145px; 
	background: linear-gradient( #3973ac, #264d73);
	margin: auto; 
	display: block;}

		#topBan{
		width: auto;
		height: 50px; 
		background: linear-gradient(#000000, #1a1a1a); 
		margin: auto;}

		#thinLine{
		width: auto; 
		height: 3px; 
		background-color: white; 
		margin: auto;} 

		#headCont{ 
		width: 1200px;  
		height: 90px; 
		margin: auto; 
		display: block;}

			#logoDiv{
			width: 300px; 
			height: 40px; 
			float: left;
			text-shadow: 1px 1px 3px #33353a;
			margin-top: 25px;
			font-size: 32pt;
			color: white;}

			#navContent{
			width: 600px; 
			height: 50px;  
			float: right; 
			display: block;
			margin-right: 90px;}

		ul{
		list-style-type: none; 
		display: block; 
		float: right;}

		li{
		float: left;}

		li a{
		text-decoration:none; 
		font-family:sans-serif; 
		font-size: 10pt; 
		color: white; 
		position: relative; 
		top: 4px; 
		padding: 15px; 
		color: white; 
		transition-duration: 100ms;  
		transition-timing-function: ease;}
		
		li a:hover{
		border-bottom: 6px solid #ffffff; 
		border-bottom-width: 100ms;
		transition: border-width: 100ms;}

		#extendNav{
		width: auto;
		height: 40px;
		background: linear-gradient( #1a1a1a, #000000);
		border-top: 1px solid white;
		display:block;}

	#mainDiv{ 
	width: 100%;
	height: auto; 
	background-image:  url("px_by_Gre3g.png");
	border-top: 1px solid black;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 3px solid black;}

			#sampleHolder{
				height: 400px;
				width: 1000px;
				background-color: rgba(0,0,0,0.2);
				border: 1px solid #bfbfbf;
				margin-top: 10px;
				margin-bottom: 10px;
				display: flex;
				flex-direction: column;}

				#sampleheader{
					width: 100%;
					height: 50px;
					background-color: grey;
					display: block;}

				#portMenus{
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;}
			
					#templates{
						margin-top: 20px;
						margin-right: 50px;
						width: 250px;
						height:300px;
						border: 1px solid white;
						display: flex;
						flex-direction: column;}

					#proofs{
						margin-top: 20px;
						width: 250px;
						height: 300px;
						border: 1px solid white;
						display: flex;
						flex-direction: column;}

					#nsfw{
						margin-top: 20px;
						margin-left: 50px;
						width: 250px;
						height: 300px;
						border: 1px solid white;
						display: flex;
						flex-direction: column;}

						.subMenuTop{
							width: 100%;
							height: 30px;
							background-color: grey;
							border-bottom: 1px solid white;}

						.description{
							width: 100%;
							height: 390px;}

						.subButton{
							width: 100%
							height: 60px;}

							button{
								width: 200px;
								height: 40px;
								margin-left: 25px;
								margin-bottom: 15px;
								background-color: grey;
								border: none;
								cursor: pointer;
								color: white;
								font-family: Arial, Helvetica,  sans-serif;
								font-size: 16px;
								transition: all ease .5s;
								box-shadow:  0 0 0 0 rgba(0,0,0,0.2) inset;}


								button:hover{
								box-shadow: 40px 200px 0 0 rgba(39, 55, 70, 0.7) inset;
								}

								p{
									color: white;
									font-size: 14px;
									padding-left: 10px;
									font-family: "Arial", Helvetica, sans-serif;
									margin: 10px;
									margin-top: 15px;}
			

			#sampleDiv5:hover{
			background-color: rgba(22,124,224, .3);
			transition: background-color .25s;}

			#sampleDiv5:hover{
			width: 800px;
			transition: width .5s;}

			#sampleDiv5{
			height: 100px;
			width:200px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-content: center;
			background-color: rgba(0,0,0,0.2);
			border: 1px solid #bfbfbf;
			margin-top: 30px;
			margin-left: 50px;
			transition: width .5s;}

#footerDiv{
	 width: auto;
	 height: 100px; 
	 background-color: black; 
	 margin: auto;}

#footer2{
   	width: auto;
   	height: 200px;
   	background-color:  #18191b;}
